* {
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

#wrapper {
    /* width: 2376px; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    margin: 24px 16px;
    border-radius: 12px;
    background-color: #F7F6FA;
    padding: 24px 16px;
    /* gap: 16px; */
    border: 1px solid red;
    border-radius: 12px;
    max-width: 15%;
}

.item .item-time,
.item .item-heading,
.item .item-content {
    font-family: Inter;
    text-align: left;
    
}

.item .item-time {
    font-size: 13px;
    font-weight: 500;
    line-height: 15.73px;
    color: #FFFFFF;
    background-color: #2A282F;
    padding: 4px 8px;
    border-radius: 4px;
    margin-bottom: 16px;
    float: left;

}

.item .item-heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    letter-spacing: -0.04em;
    color: #2A282F;
    margin-bottom: 16px;
}

.item .item-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    letter-spacing: -0.04em;
    color: #625F68;
}

